@plugin "daisyui/theme" {
    name: "mytheme";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(28% 0.109 3.907);
    --color-base-200: oklch(40% 0.153 2.432);
    --color-base-300: oklch(45% 0.187 3.815);
    --color-base-content: oklch(94% 0.028 342.258);
    --color-primary: oklch(68% 0.162 75.834);
    --color-primary-content: oklch(98% 0.026 102.212);
    --color-secondary: oklch(68% 0.162 75.834);
    --color-secondary-content: oklch(98% 0.026 102.212);
    --color-accent: oklch(64% 0.2 131.684);
    --color-accent-content: oklch(98% 0.031 120.757);
    --color-neutral: oklch(52% 0.223 3.958);
    --color-neutral-content: oklch(97% 0.014 343.198);
    --color-info: oklch(60% 0.126 221.723);
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(98% 0.018 155.826);
    --color-warning: oklch(64% 0.222 41.116);
    --color-warning-content: oklch(98% 0.016 73.684);
    --color-error: oklch(57% 0.245 27.325);
    --color-error-content: oklch(97% 0.013 17.38);
    --radius-selector: 1rem;
    --radius-field: 2rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}
